/* elements */

body {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.04rem;
}

header,
footer {
  border: 1px dotted darkslategrey;
}

select {
  outline: 0px;
}

/* wrappers and children */

.column {
  display: flex;
  flex-direction: column;
}

.centeredColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row,
.row-col {
  display: flex;
  flex-direction: row;
}

.spacedRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sliderWrapper {
  border: 1px solid #ccc;
  width: 30%;
}

.sliderTrack {
  height: 100%;
}

.sliderDot {
  border-radius: 50%;
  cursor: pointer;
}

/* animations */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blinkStaying {
  0% {
    opacity: 0.35;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.35;
  }
}

/* modifiers */

.loader {
  border: 10px solid transparent;
  border-top: 10px solid darkslategrey;
  border-bottom: 10px solid darkslategrey;
  border-radius: 50%;
  opacity: 0.85;
  width: 48px;
  height: 48px;
  animation: spin 1.5s linear infinite;
}

.blinkPartial {
  animation: blinkStaying 1.6s infinite;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.txt-l {
  text-align: left;
}

.txt-c {
  text-align: center;
}

.txt-r {
  text-align: right;
}

.txt-22 {
  font-size: 22px;
}

.txt-18 {
  font-size: 18px;
}

.txt-16 {
  font-size: 16px;
}

.txt-15 {
  font-size: 15px;
}

.txt-14 {
  font-size: 14px;
}

.txt-13 {
  font-size: 13px;
}

.txt-12,
.txt-overlay {
  font-size: 12px;
}

.txt-11 {
  font-size: 11px;
}

.txt-10 {
  font-size: 10px;
}

.space-04 {
  letter-spacing: 0.04rem;
}

.space-08 {
  letter-spacing: 0.08rem;
}

.space-25 {
  letter-spacing: 0.25rem;
}

.line-1-3 {
  line-height: 1.3em;
}

.line-1-5 {
  line-height: 1.5em;
}

.mar-3 {
  margin: 3px 3px;
}

.mar-5 {
  margin: 5px 5px;
}

.mar-10 {
  margin: 10px 10px;
}

.pad-3 {
  padding: 3px 3px;
}

.pad-5 {
  padding: 5px 5px;
}

.pad-10 {
  padding: 10px 10px;
}

.border-1 {
  border: 1px dashed #ddd;
}

.border-2 {
  border: 2px dashed #ddd;
}

.border-c {
  border: 1px solid #ccc;
}

.radius-4 {
  border-radius: 4px;
}

.radius-8 {
  border-radius: 8px;
}

.shadow-f80 {
  opacity: 0.92;
  filter: drop-shadow(0px 1px 1px #f80);
}

.shadow-ddd {
  opacity: 0.92;
  filter: drop-shadow(0px 1px 1px #ddd);
}

.shadow-ccc {
  opacity: 0.92;
  filter: drop-shadow(0px 1px 1px #ccc);
}

.shadow-bbb {
  opacity: 0.92;
  filter: drop-shadow(0px 1px 1px #bbb);
}

.bg-f {
  background-color: rgba(255, 255, 255, 1);
}

.bg-e {
  background-color: rgba(238, 238, 238, 0.9);
}

.bg-fc0 {
  background-color: rgba(255, 204, 0, 0.36);
}

.bg-f80 {
  background-color: rgba(255, 136, 0, 0.64);
}

.is-f80 {
  color: #f80;
}

.is-orangered {
  color: orangered;
}

.is-f00 {
  color: #f00;
}

.is-slategrey {
  color: slategrey;
}

.is-dsg {
  color: darkslategrey;
}

.is-dsb {
  color: darkslateblue;
}

.is-teal {
  color: teal;
}

.is-blue {
  color: #252c8d;
}

.gradient-e {
  background-image: linear-gradient(to bottom, #eee, #fff);
}

.gradient-text {
  background-image: linear-gradient(to right, #252c8d, #f9f8c7, #950015);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.w100pc {
  width: 100%;
}

.w90pc {
  width: 90%;
}

.w85pc {
  width: 85%;
}

.w80pc {
  width: 80%;
}

.w66pc {
  width: 66%;
}

.w50pc {
  width: 50%;
}

.lowest {
  background: #252c8d;
  width: 4px;
  height: 4px;
}

.highest {
  background: #950015;
  width: 32px;
  height: 32px;
}

.lower {
  background: #252c8d;
  width: 6px;
  height: 6px;
}

.higher {
  background: #950015;
  width: 8px;
  height: 8px;
}

.circle {
  border-radius: 50%;
}

.point {
  cursor: pointer;
}

/* links */

.a1 {
  text-decoration: underline;
  color: slategrey;
}

.a1:hover {
  text-decoration: none;
  color: #ff5000;
}

.a2 {
  text-decoration: underline;
  color: #ff8000;
}

.a2:hover {
  text-decoration: none;
  color: #ff5000;
}

.a3 {
  text-decoration: underline;
  color: black;
}

.a3:hover {
  text-decoration: none;
  color: red;
}

@media screen and (max-width: 600px) {
  .row-col {
    flex-direction: column;
  }

  .sliderWrapper {
    width: 160px;
  }

  .txt-overlay {
    font-size: 15px;
  }

  .lowest {
    width: 3px;
    height: 3px;
  }

  .highest {
    width: 16px;
    height: 16px;
  }
}
